openapi: 3.2.0
info:
  title: Bloomerang REST API v2 Custom Fields API
  description: The Bloomerang REST API v2 is a private-key, server-to-server API for reading and writing data in a Bloomerang donor management CRM account - constituents, transactions (donations, pledges, recurring donations), interactions, notes, relationships, and webhook subscriptions.
  version: '2.0'
  contact:
    name: Bloomerang
    url: https://bloomerang.com/api/rest-api
servers:
- url: https://api.bloomerang.co/v2
  description: Bloomerang REST API v2 (production - no sandbox is offered)
security:
- apiKeyAuth: []
- oauth2Bearer: []
tags:
- name: Custom Fields
  description: Account-specific custom field definitions by object type.
paths:
  /customFields/{type}:
    parameters:
    - name: type
      in: path
      required: true
      description: The object type to fetch custom field definitions for, e.g. Constituent, Transaction, Interaction, or Note.
      schema:
        type: string
        enum:
        - Constituent
        - Transaction
        - Interaction
        - Note
    get:
      operationId: listCustomFields
      tags:
      - Custom Fields
      summary: List custom field definitions
      description: Lists the custom field definitions configured for a given object type.
      responses:
        '200':
          description: A list of custom field definitions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomFieldDefinition'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
        Errors:
          type: array
          items:
            type: string
    CustomFieldDefinition:
      type: object
      properties:
        Id:
          type: integer
        Name:
          type: string
        FieldType:
          type: string
          enum:
          - Text
          - Number
          - Date
          - PickList
          - MultiSelectPickList
        PossibleValues:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key / access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Private API key generated by an Administrator user in Bloomerang under User Settings > Edit My User. Grants full read/write access - keep it secret.
    oauth2Bearer:
      type: oauth2
      description: 'OAuth 2.0 access token for third-party applications, presented as `Authorization: Bearer {access_token}`.'
      flows:
        authorizationCode:
          authorizationUrl: https://crm.bloomerang.co/oauth/authorize
          tokenUrl: https://api.bloomerang.co/v2/oauth/token
          scopes:
            api: Full read/write access to account data.
