openapi: 3.2.0
info:
  title: Bloomerang REST API v2 Interactions API
  description: The Bloomerang REST API v2 is a private-key, server-to-server API for reading and writing data in a Bloomerang donor management CRM account - constituents, transactions (donations, pledges, recurring donations), interactions, notes, relationships, and webhook subscriptions.
  version: '2.0'
  contact:
    name: Bloomerang
    url: https://bloomerang.com/api/rest-api
servers:
- url: https://api.bloomerang.co/v2
  description: Bloomerang REST API v2 (production - no sandbox is offered)
security:
- apiKeyAuth: []
- oauth2Bearer: []
tags:
- name: Interactions
  description: Logged touches between the organization and a constituent.
paths:
  /interactions:
    get:
      operationId: listInteractions
      tags:
      - Interactions
      summary: List interactions
      description: Lists interactions, paginated with skip/take parameters.
      parameters:
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Take'
      responses:
        '200':
          description: A page of interactions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Interaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createInteraction
      tags:
      - Interactions
      summary: Create an interaction
      description: Creates an interaction - a logged touch (call, meeting, letter, email) between the organization and a constituent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionInput'
      responses:
        '200':
          description: The created interaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /interactions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: The ID of the interaction.
      schema:
        type: integer
    get:
      operationId: getInteraction
      tags:
      - Interactions
      summary: Retrieve an interaction
      description: Retrieves an interaction by ID.
      responses:
        '200':
          description: The requested interaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Take:
      name: take
      in: query
      required: false
      description: Number of records to return, for pagination.
      schema:
        type: integer
        default: 50
    Skip:
      name: skip
      in: query
      required: false
      description: Number of records to skip, for pagination.
      schema:
        type: integer
        default: 0
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
        Errors:
          type: array
          items:
            type: string
    Interaction:
      allOf:
      - $ref: '#/components/schemas/InteractionInput'
      - type: object
        properties:
          Id:
            type: integer
    InteractionInput:
      type: object
      required:
      - AccountId
      - Date
      - Channel
      properties:
        AccountId:
          type: integer
        Date:
          type: string
          format: date
        Channel:
          type: string
          enum:
          - Call
          - Email
          - InPerson
          - Letter
          - Other
        Purpose:
          type: string
        Note:
          type: string
        UserId:
          type: integer
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key / access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Private API key generated by an Administrator user in Bloomerang under User Settings > Edit My User. Grants full read/write access - keep it secret.
    oauth2Bearer:
      type: oauth2
      description: 'OAuth 2.0 access token for third-party applications, presented as `Authorization: Bearer {access_token}`.'
      flows:
        authorizationCode:
          authorizationUrl: https://crm.bloomerang.co/oauth/authorize
          tokenUrl: https://api.bloomerang.co/v2/oauth/token
          scopes:
            api: Full read/write access to account data.
