openapi: 3.2.0
info:
  title: Bloomerang REST API v2 Relationships API
  description: The Bloomerang REST API v2 is a private-key, server-to-server API for reading and writing data in a Bloomerang donor management CRM account - constituents, transactions (donations, pledges, recurring donations), interactions, notes, relationships, and webhook subscriptions.
  version: '2.0'
  contact:
    name: Bloomerang
    url: https://bloomerang.com/api/rest-api
servers:
- url: https://api.bloomerang.co/v2
  description: Bloomerang REST API v2 (production - no sandbox is offered)
security:
- apiKeyAuth: []
- oauth2Bearer: []
tags:
- name: Relationships
  description: Relationships between two constituents.
paths:
  /constituents/{id}/relationships:
    parameters:
    - $ref: '#/components/parameters/ConstituentId'
    get:
      operationId: listConstituentRelationships
      tags:
      - Relationships
      summary: List a constituent's relationships
      description: Lists the relationships a constituent has to other constituents.
      responses:
        '200':
          description: A list of relationships.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Relationship'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createConstituentRelationship
      tags:
      - Relationships
      summary: Create a relationship
      description: Creates a relationship between the given constituent and another constituent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipInput'
      responses:
        '200':
          description: The created relationship.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relationship'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  schemas:
    Error:
      type: object
      properties:
        Message:
          type: string
        Errors:
          type: array
          items:
            type: string
    RelationshipInput:
      type: object
      required:
      - AccountId2
      - RelationshipRole1
      - RelationshipRole2
      properties:
        AccountId2:
          type: integer
          description: The constituent ID on the other side of the relationship.
        RelationshipRole1:
          type: string
          description: The role of the source constituent in the relationship, e.g. Spouse.
        RelationshipRole2:
          type: string
          description: The role of the related constituent in the relationship, e.g. Spouse.
        Note:
          type: string
    Relationship:
      allOf:
      - $ref: '#/components/schemas/RelationshipInput'
      - type: object
        properties:
          Id:
            type: integer
          AccountId1:
            type: integer
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid API key / access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ConstituentId:
      name: id
      in: path
      required: true
      description: The ID of the constituent.
      schema:
        type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Private API key generated by an Administrator user in Bloomerang under User Settings > Edit My User. Grants full read/write access - keep it secret.
    oauth2Bearer:
      type: oauth2
      description: 'OAuth 2.0 access token for third-party applications, presented as `Authorization: Bearer {access_token}`.'
      flows:
        authorizationCode:
          authorizationUrl: https://crm.bloomerang.co/oauth/authorize
          tokenUrl: https://api.bloomerang.co/v2/oauth/token
          scopes:
            api: Full read/write access to account data.
